
<div id="${beanClass.name.toLowerCase()}Edit" ng-controller="${beanClass.name}DetailCtrl">
 
    <h2>${beanClass.name} Edit</h2>
    
 	<form class="form-horizontal">
 	
	#foreach( $field in $beanClass.attributes )
 		<div class="control-group">
			<label class="control-label" for="${field.name}">${field.name}</label>
			<div class="controls">
				<input type="text" id="${field.name}" ng-model="one${beanClass.name.toLowerCase()}.${field.name}" />
			</div>
		</div>
  	#end

	</form>
 	<br />
    <button ng-click="update${beanClass.name}()">Save</button>
    <button ng-click="remove${beanClass.name}()">Remove</button>
	<button ng-click="openList${beanClass.name}Page()">Return to list</button>
 
</div>
