CACHE MANIFEST
 
# Build 2013-01-29-14h52
 
CACHE:
css/bootstrap-responsive.min.css
css/bootstrap.min.css
css/custom.css
css/toastr.css

img/glyphicons-halflings-white.png
img/glyphicons-halflings.png

jsext/angular.min.js
jsext/bootstrap.min.js
jsext/jquery.js
jsext/modernizr.custom.js
jsext/toastr.js

jsin/cacheApp.js
jsin/datastore.js
jsin/offline.js

gen/js/mainctrl.js

#foreach ( $entityClass in $selectedEntities )
gen/jsmodules/${entityClass.name.toLowerCase()}/${entityClass.name.toLowerCase()}ctrl.js
gen/jsmodules/${entityClass.name.toLowerCase()}/${entityClass.name.toLowerCase()}srv.js
#end 

main/footer.html
main/header.html
main/inprogress.html
main/welcome.html

#foreach ( $entityClass in $selectedEntities )
gen/pages/${entityClass.name.toLowerCase()}/create.html
gen/pages/${entityClass.name.toLowerCase()}/edit.html
gen/pages/${entityClass.name.toLowerCase()}/list.html
#end 

NETWORK:
http://*
https://*
